macotec/build.yml
macotec/.project
macotec/bin/*

macotec/rholog.txt

macotec/rhoconfig.txt.changes
macotec/rhoconfig.txt

macotec/Rakefile

.project
macotec/.project

*.DS_Store
*.metadata
*.metadata/*

macotec/.settings/*

macotec/public/data/*
