
a {
    text-decoration: none;
    color:#000000
}



body {
    margin: 0;
    height: 100%;
    width: inherit;
    font-family: "Droid", Arial, Helvetica, sans-serif;
    color: #444;
    background: #E1E4E8;
/*    color: white;*/
}

#message_submit{
	width: 70%; 
	height: 70%;
	text-align: center;  
	position: absolute; 
	display: block; 
	border: 4px solid black; 
/*	margin: 5px 5px 5px 5px*/
}

#list_form{
	padding: 0% 0% 0% 0%;
	list-style-type: none; 
	width: 100%
}

#form_look{
	/*background: -webkit-gradient(linear, left top, left bottom, from(#567), to(#8fa1b3));
	background: -moz-linear-gradient(top,  #567,  #8fa1b3);*/
	background-color: #8fa1b3;
	/*opacity: 0.8;*/
	/*border-radius: 10px;*/
	/*border-radius: 10px;*/
	width: 100%;
	padding: 3px 3px 3px 3px
}

#text_field{
	width: 80%;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#location{
	width: 80%;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#small_button{
/*	z-index: 1;*/
	position: relative;
/*	width: 60%;*/
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(rgba(253, 253, 253, 0)));
	background: -moz-linear-gradient(top,  #ffffff, rgba(253, 253, 253, 0));
	-webkit-border-radius: 2px;
	border-radius: 2px;
/*	opacity: 0.7;*/
	margin: 8px 8px 8px 8px;
	color:#000000;
	box-shadow: 0px 3px 5px #000;
	-moz-box-shadow: 0px 3px 5px #000;
	-webkit-box-shadow: 0px 3px 5px #000;
}

#small_button:active{
/*	width: 60%;*/
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(rgba(253, 253, 253, 0)));
	background: -moz-linear-gradient(top,  #ffffff, rgba(253, 253, 253, 0));
	z-index: 1;
	position: relative;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #ffffff;
	margin: 8px 8px 8px 8px;
	top:3px;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

#button_app_green {
	/*z-index: 1;
	position: relative;*/
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#83F03C), to(#A0F06C));
	background: -moz-linear-gradient(top,  #83F03C,  #A0F06C);
	-webkit-border-radius: 10px;
	border-radius: 10px;
/*	opacity: 0.7;*/
	margin: 8px 8px 8px 8px;
	color:#000000;
	box-shadow: 0px 3px 5px #000;
	-moz-box-shadow: 0px 3px 5px #000;
	-webkit-box-shadow: 0px 3px 5px #000;
}

#button_app_green:active {
	width: 100%;
	height: 100%;
	position:relative;
	z-index: 1;
	position: relative;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #567;
	margin: 8px 8px 8px 8px;
	top:3px;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

#button_app_important {
	/*z-index: 1;
	position: relative;*/
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF4940), to(#FF7A73));
	background: -moz-linear-gradient(top,  #FF4940,  #FF7A73);
	-webkit-border-radius: 10px;
	border-radius: 10px;
/*	opacity: 0.7;*/
	margin: 8px 8px 8px 8px;
	color:#000000;
	box-shadow: 0px 3px 5px #000;
	-moz-box-shadow: 0px 3px 5px #000;
	-webkit-box-shadow: 0px 3px 5px #000;
}

#button_app_important:active {
	width: 100%;
	height: 100%;
	position:relative;
	z-index: 1;
	position: relative;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #567;
	margin: 8px 8px 8px 8px;
	top:3px;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}


#button_app {
	/*z-index: 1;
	position: relative;*/
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#567), to(#8fa1b3));
	background: -moz-linear-gradient(top,  #567,  #8fa1b3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
/*	opacity: 0.7;*/
	margin: 8px 8px 8px 8px;
	color:#000000;
	box-shadow: 0px 3px 5px #000;
	-moz-box-shadow: 0px 3px 5px #000;
	-webkit-box-shadow: 0px 3px 5px #000;
}

#button_app:active {
	width: 100%;
	height: 100%;
	position:relative;
	z-index: 1;
	position: relative;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #567;
	margin: 8px 8px 8px 8px;
	top:3px;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

#product_detail{
	background-image: url('../images/macotec/loader.gif') center no-repeat;
}

#button_image{
	opacity: 0.7;
	margin: 5px 8px 8px 5px;
	z-index: 2000; 
}

#form_text{
	list-style-type: none;
	width: 100%;
	color: #000000;
/*	opacity: 0.7;*/
}

#button_text{
	width: 100%;
	color: #000000;
	opacity: 0.7;
}
.ui-select{
	width: 85%;
}


