
a {
    text-decoration: none;
    color:#000000
}


body {
    margin: 0;
    height: 100%;
    width: inherit;
    font-family: "Droid", sans-serif;
    background: white;
    color: white;
}

product {
	color:#000000
	
}
