<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Info</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
	</div>
	

<div data-role="content" align="left" style="width: 90%">	
<p><b>VERMIETUNG DEUTSCHLAND- UND EUROPAWEIT</b></p>

MACO-TEC Rental Solutions GmbH vermietet Stapler
unkompliziert, schnell und zu fairen Preisen!<br><br>

 

Unsere über 15-jährige Erfahrung im Branchenbereich Industrie-, Bau- und Eventtechnik, 
gewährleistet unseren Kunden in Verbindung mit motiviertem Fachpersonal eine zuverlässige und schnelle Lösung Ihrer Probleme.
Wir bieten Ihnen Flexibilität und schnellen Service im Bereich Vermietung, sowohl über ganz Deutschland als auch speziell in Europa. 
Mit intelligenten Mietlösungen und modernsten Maschinen, stehen wir Ihnen vom Zeitpunkt der Anfrage über die Abwicklung und Anlieferung, sowie bei der Betreuung 
während der Mietzeit, Abholung und Abrechnung als Partner fast rund um die Uhr zur Seite.
Bestmöglicher Service und höchste Qualität haben für uns die größte Bedeutung, wenn es darum geht Ihren Anforderungen gerecht zu werden.

</div>
<br><br>
	
	
  <div data-role="content">
    <h1>MACO-TEC Rental Solutions</h1>
    Inh. Marc Moessner<br>
    HeumadenerStr.28<br>
    D - 70329 Stuttgart<br><br>
    
    Tel. +49(0)711-69987833<br>
    Fax. +49(0)711-69988574<br>
    www.maco-tec.de<br>
    info@maco-tec.de
    </ul>
  </div>

</div>