<div data-role="page">
	<div id="not_successfull"  style="width: 100%; text-align: center;  position: absolute; display: block;">
					<br>
					&nbsp;
					<br>
					<img src="/public/images/macotec/ghost.png" />
					<br>
					&nbsp;
					<br>
					<div style="text-align: left; width: 70%; margin-left: 15%">
						<p>Leider konnte Ihre Anfrage nicht versendet werden.</p>
						Die Eingabe enthält nicht erlaubte Sonderzeichen.<br>
						Bitte überprüfen Sie Ihre Eingabe und versuchen Sie es erneut. 
					</div>
				
				
	</div>
</div>
