<div data-role="page">
  <% if System::get_property('platform') == 'APPLE' %>
  <div data-role="header" data-position="inline">
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
  </div>
  <% end %>
	<div align="center">
					<br>
					&nbsp;
					<br>
					<img src="/public/images/macotec/ghost.png" />
					<br>
					&nbsp;
					<br>
					<% if (@params["message"]) && (@params["message"].include? "Email") %>
					<div style="text-align: left; width: 70%; margin-left: 15%; border: 4px solid black">
						<p style="margin: 9px 9px 9px 9px"><%= @params["message"] %></p> 
					</div>
					<% else %>
					<div style="text-align: left; width: 70%; margin-left: 15%; border: 4px solid black">
						<p style="margin: 9px 9px 9px 9px"><%= Localization::Message[:problem] %></p>
					</div>
					<% end %>
	</div>
</div>
