<div data-role="page">
	<div align="center">
					<br>
					&nbsp;
					<br>
					<img src="/public/images/macotec/ghost.png" />
					<br>
					&nbsp;
					<br>
					<div style="text-align: left; width: 70%; margin-left: 15%; border: 4px solid black">
						<p style="margin: 9px 9px 9px 9px"><%= @params["message"] %></p>
						
					</div>
				
				
	</div>
</div>