<div id="not_successfull"  style="width: 100%; height: 250px; text-align: left;  position: absolute; display: block;">
			Leider konnte Ihre Anfrage nicht versendet werden.<br><br>
			Die Eingaben konnten nicht validiert werden.<br>
			Bitte überprüfen Sie Ihre Eingabe. 
			
</div>