<div data-role="page">
		<div id="loadingPlaceholder" style="width: 100%; height: 250px; text-align: center;  position: absolute; display: block">
				<br>
				&nbsp;
				<br>
				&nbsp;
				<br>
				<img src="/public/images/macotec/macotec_loader.gif" />
				<br>
				&nbsp;
				<br>
				<div>
					<%= Localization::Message[:send_request] %>
				</div>
				<br>
		</div>	