
a {
    text-decoration: none;
    color:#000000
}


.button_app{
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}


body {
    margin: 0;
    height: 100%;
    width: inherit;
    font-family: "Droid", sans-serif;
    background: white;
    color: white;
}

.button_background {
	color:#d7e0eb 0 0 no-repeat !important;
	
}

#product{
	color:#000000
}

.button_pressed {
	color:#39f
}

#button_table {
	width: 100%
	
}

#button_table_element {
	width: 50%
}

#button_table_element_mail {
	width: 50%;
	color: #7CC4E7
/*	background-image: url('../images/macotec/mail.png');*/
/*	background-repeat: no-repeat;*/
}

#container {
  width: 100%;
  height: 100%;
  background-color: #567;
   
  position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -50%;
  margin-top: -50%;
}