<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Einstellungen</h1>
  </div>
  <div data-role="content">
  	<div align="center" style="width: 90%">
		<div align="left">
  			Speichern Sie hier Ihre Kontaktdaten um das ausfüllen
  			der Kontakt-Formulare noch schneller zu machen. 
	  	</div>  		
  	</div>
  	
  	<hr />
  	<form data-ajax="false" onsubmit="return false;">
	  	<fieldset>
			<label><b>Meine Kontaktdaten</b></label>
				<ul style="list-style-type: none; width: 100%">
					<li>	
						<label>Name / Firma</label><br>
						<input type="text" id="company" name="company">
					</li>
					<li>	
						<label>Telefonnummer</label><br>
						<input type="text" id="phone" name="phone">
					</li>
					<li>	
						<label>E-Mail</label><br>
						<input type="text" id="email" name="email">
					</li>
				</ul>
				<input type="submit" class="standardButton" value="Speichern" onclick="saveData();" />
		</fieldset>
  	</form>
  </div>
  <script type="text/javascript">
  	getSavedData();
  	
  	function getSavedData(){
    $.get('/app/Settings/get_data', { });
	}
	
	function setData(company, phone, email){
		setFieldValue("company",company);
		setFieldValue("phone",phone);
		setFieldValue("email",email);
	}
	
	function saveData(){
		var company = document.getElementById("company").value;
		var phone = document.getElementById("phone").value;
		var email = document.getElementById("email").value;
		
		$.post('/app/Settings/save_data', {company: company, phone: phone, email: email });
		
	}
  </script>
</div>
