<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Produkte</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
  </div>
  <div data-role="content">
  	<ul data-role="listview">
	<% @product.each do |key, product| %>
	<% product.each do |key, pro| %>
	<% if key.to_s == "head" %>
	<li>
		<b><%= pro %></b>
		<% else %>
		<%= pro %><br>
		<% end %>
	</li>
	<% end %>
	<br>
	<% end %>
  </div>

</div>