<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Produkte</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
  </div>
  <div style="color: #000000; text-decoration: none" data-role="content">
  	<ul data-role="listview">
			<% @products.each do |key, product| %>
			<li>
				<a href="<%= url_for :controller => :Product, :action => :product_details, :query => {:product => key} %>" /><%= product %></a>
			</li>
			<% end %>
		
	</ul>
  </div>

</div>